{% extends "base.html" %}

{% block content %}

    <h1>Node details</h1>

    {% if node_name is not none %}

        <p>
            Node entrypoint: {{ node_name }}
        </p>

        {% for vm in datas.vms %}

            <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Node name</th>
                    <th>IP</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ vm.name }}</td>
                    <td>{{ vm.network_info.ip }}</td>
                    <td>{{ vm.status }}</td>
                </tr>
            </tbody>
            </table>
        {% endfor %}

    {% endif %}

{% endblock %}